html, body {
  height: 100%;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif !important;
    background: linear-gradient(to right, #ffffff, #f8f9fa);
    color: #444444;
}

@keyframes flutuar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.icone-animado {
    width: 80px;
    animation: flutuar 3s ease-in-out infinite;
}

@keyframes slideInLeft {
  from {
      transform: translateX(-50px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.animate-slide-in {
    animation: slideInLeft 0.5s ease-out forwards;
}

@keyframes slideInUp {
  from {
      transform: translateY(50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.animate-slide-in-up {
    animation: slideInUp 1.0s ease-out forwards;
}